.j_tabcontainer{
    display: flex;
    flex-wrap:wrap;
    padding: 10px 0 0 0;
    border-bottom: solid #3e648d 2px;
}

.j_folderline{
    background-color:#3e648d;
    height:2px;
    z-index:1;
}

.j_displaytab{
    background-color: white;
    display:inline-block;
    height:2em;
    padding:0 2em;
    border-width: 5px 5px 0 5px;
    border-style: outset;
    border-color:lightgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    text-align:center;
    vertical-align:top;
    z-index:0;
    &:hover {
        background-color: beige;
    }
    z-index:0;
    &.j_activetab{
        background-color: beige;
        border-color:#3e648d;
        &:hover{
            background-color: tan;
            transition: background-color 0.5s;  
        }
        z-index:2
    }
}
  



.j_grouplabel{
    display:block;
    width: 15em;
    height:2em;
    padding:0 2em;
    font-style:italic;
}